body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
    color: white;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: black;
    color: red;
}

header * {
    display: inline;
    height: 50px;
    background-color: black;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;
    text-align: center;

    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

#hero .profile-img {
    width: 300px;
    border-radius: 50%;
    color: red;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: black;
    color: white;
}

#hero h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: red;
}

header a {
    text-decoration: none;
    color: red;
}

p {
    margin-top: 25px;
    margin-bottom: 25px;
}

#home {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
    text-decoration-color: white;
}

#about {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)); 
    text-decoration-color: white;
    font-size: .9rem;
}

#resume{
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#skills {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)); 
    text-align: justify;
}

.col-container {
    display: table; 
    width: 100%; 
}

.col {
    display: table-cell; 
}

.sticky{
    position: sticky;
    top: 0;
    padding: 50px;
    font-size: 20px;
}

#aboutme {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)); 
    text-decoration-color: white;
    font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

.resumeBottom {
    vertical-align: bottom;
}

a.aboutsection:link{
    color: white;
    text-decoration: none;
}

a.aboutsection:hover{
    color: red;
    text-decoration: none;
}

a.aboutsection:visited{
    color: red;
    text-decoration: none;
}

a.aboutsection:active{
    color: black;
    text-decoration: none;
}

