{% for page in index.md %}
<!DOCTYPE html>
<html>
    <head>
        <title>Michael McClung's Website</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <header>
            <img src="https://www.depts.ttu.edu/careercenter/images/slideshow/HireRedRaiders.jpg" class="profile-img">
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="projects.html">Projects</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="home">
                <div class="section-inner">
                    <img src="https://media.licdn.com/dms/image/C4E03AQE9XG4zfdT-ug/profile-displayphoto-shrink_200_200/0?e=1574294400&v=beta&t=uQaeQIzmRbv29L1ydskpiIXQlasXJCrZX40wn2cZ5cs" class="profile-img">
                    <h1>Hello, my name is Michael McClung.</h1>
                    <h2>Welcome to my website!</h2>
                </div>
            </section>
            <section id="about">
                <div class="section-inner">
                    <h3>About me</h3>
                    <p>I started out at Richland College in Dallas, Texas and graduated with an AS in Science.
                        <br>I am currently a senior at Texas Tech University graduating in May 2020 with a Bachelors of Computer Science.</br>
                        <br>I hope you enjoy exploring my website and thank you for visiting!</br></p>
                    <h3>Achievements</h3>
                        <p>Bachelor of Computer Science, May 2020
                         <br>Associates of Science, December 2019</br></p>
                    <h3>Internships</h3>
                        <p>Northrop Grumman, Software Engineer - Intern, Summer 2019</p>
                    <h3>Hobbies</h3>
                    <p>I love to travel and go to different beaches and nature areas.
                    <br>I also enjoy working out, playing guitar, and coding on my off time.</br></p>
                </div>
            </section>
        </main>
        <footer>
                <div class="section-inner">
                    <h3> Contact Information </h3>
                    <p><a href="https://www.linkedin.com/in/mrmcclung"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhykrUwpa9JOX71UOZnRmOnXo0PxfNVUywYdDVx6vkn3P7YCr0" width="150" height="40"></a>
                    <a href="mailto:michael.mcclung08@gmail.com"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkZwGu3G-AeLXvg7_OSKVkRxZMiAONg9kF4X7HU9I0eJox1MIe" width="150" height="40"></a></p>
                </div>
            © Michael McClung, 2019
        </footer>
    </body>
</html>
{% endfor %}
{% for page in index.md %}
<title>Michael McClung's Website</title>
<body>
    <header>
        <img src="https://www.depts.ttu.edu/careercenter/images/slideshow/HireRedRaiders.jpg" class="profile-img">
        <nav>
            <ul>
                <li><a href="index.md">Home</a></li>
                <li><a href="projects.md">Projects</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="home">
            <div class="section-inner">
                <img src="https://media.licdn.com/dms/image/C4E03AQE9XG4zfdT-ug/profile-displayphoto-shrink_200_200/0?e=1574294400&v=beta&t=uQaeQIzmRbv29L1ydskpiIXQlasXJCrZX40wn2cZ5cs" class="profile-img">
                <h1>Hello, my name is Michael McClung.</h1>
                <h2>Welcome to my website!</h2>
            </div>
        </section>
        <section id="about">
            <div class="section-inner">
                <h3>Projects</h3>
            <p>Here are my projects I would like to share from Richland Community College and Texas Tech University, enjoy!</p>
            </div>
        </section>
    </main>
    <footer>
            <div class="section-inner">
                <h3> Contact Information </h3>
                <p><a href="https://www.linkedin.com/in/mrmcclung"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhykrUwpa9JOX71UOZnRmOnXo0PxfNVUywYdDVx6vkn3P7YCr0" width="150" height="40"></a>
                <a href="mailto:michael.mcclung08@gmail.com"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkZwGu3G-AeLXvg7_OSKVkRxZMiAONg9kF4X7HU9I0eJox1MIe" width="150" height="40"></a></p>
            </div>
        © Michael McClung, 2019
    </footer>
</body>


{% endfor %}
